.navgation{
    &_checkbox{
display: none;
    }

    &_button{
background-color: $color-white;
height: 7rem;
width: 7rem;
position: fixed;
top: 6rem;
    }

    &_background{

    }

    &_nav{

    }

    &_list{

    }

    &_item{

    }

    &_link{
        &:link,
        &:visited{

        }
    }
}